.cls-1,.cls-3{fill:#323e48;}.cls-1,.cls-4{fill-rule:evenodd;}.cls-2,.cls-4{fill:#e1251b;}
#desc-img-text-4 .bg-wrap {
	background: #f4f5f6;
}
#inner-quote .bg-wrap {
	background: #f4f5f6;
}
#benefits-3col-3 .bg-wrap {
    background: #f4f5f6;
}

#benefits-3col-3 .bg {
	background-image: url('../images/faicons/Artboard_2.svg');
}#sep-bottom-2 .bg-wrap {
    background-color: rgba(255, 255, 255, 0);
}#sep-top-1 .bg-wrap {
    background-color: rgba(255, 255, 255, 0);
}
#inner-title .bg-wrap {
	background: #f4f5f6;
}#sep-bottom-2--0 .bg-wrap {
    background-color: rgba(255, 255, 255, 0);
}#sep-top-1--0 .bg-wrap {
    background-color: rgba(255, 255, 255, 0);
}#footer-social-text .bg-wrap {
    background-color: #F4F5F6;
}
